# 1. 파이썬 라이브러리 사용
* pip install numpy
* import numpy as np
* numpy의 속성 및 메소드 사용법 : 점표기법
  * np.메서드()
  * np.속성

In [1]:
import numpy as np # 다차원 행렬 연산 
np.random.seed(12345) 
np.set_printoptions(precision=4, suppress=True)

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)] # 리스트 표기법
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [3]:
data = [] # 빈 리스트 생성
for i in range(7): # [0,1,2,3,4,5,6]
    data.append(np.random.standard_normal())
print(data)

[0.2817461528302025, 0.7690225676118387, 1.2464347363862822, 1.0071893575830049, -1.2962211091122635, 0.274991633432124, 0.22891287893531592]

In [4]:
data_array = np.array(data)
data_array

array([ 0.2817,  0.769 ,  1.2464,  1.0072, -1.2962,  0.275 ,  0.2289])

# 2.  변수와 참조

In [2]:
a = [1, 2, 3] # 참조
print(a)
b = a # 변수 a와 b가 동일 객체 [1,2,3] 참조
print(b)

[1, 2, 3]
[1, 2, 3]

In [4]:
a.append(4) # 데이터 추가 :리스트.append()
a
b

[1, 2, 3, 4, 4]

# 3. 사용자 정의 함수 &  호출

In [6]:
# define function
def append_element(some_list, element): #위치 인자
    some_list.append(element)
# call fuction
data = [1, 2, 3] # global var
element = "python"
append_element(data, element)
data

[1, 2, 3, 'python']

# 4. 내장형 함수 :  type()

In [7]:
a = 5 # int
print(type(a))
a = "foo" # str
print(type(a))

<class 'int'>
<class 'str'>

# 5. 형변환
* int()
* float()
* bool()

In [8]:
"5" + 5 # 자동형변환 불가능

TypeError: can only concatenate str (not "int") to str

In [11]:
# 숫자 간 자동 형변환 가능
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

# 6. 내장 함수 : isinstance()

In [13]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [14]:
a = 5 
print(isinstance(a, int))

True

In [17]:
a = 5
b = 4.5
isinstance(a, (int, float, object))
isinstance(b, (int, float))

True

# 6. 내장함수 : iter()
* 반복 가능한 객체인지 알려주는 함수
* for loop
* list()

In [19]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [22]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [23]:
for i in "a string":
    print(i)

a

s
t
r
i
n
g

In [17]:
5 - 7
12 + 21.5
5 <= 2

# 7. 예약어 : 
* is
* is not
* ==
* !=

In [27]:
a = [1, 2, 3]
b = a
c = list(a) # 새로운 리스트 객체
a is b
a is c
a is not c

True

In [28]:
a == c # 객체의  내용을 비교

True

# 8. None 객체
* null 의미

In [29]:
a = None
a is None

True

# 9. 순차 자료형: list, tuple, str
## 1. list 
* [], list() // 데이터 생성
* 수정, 삭제, 추가 연산 가능 ; mutable type
  * append(), pop(), remove(), insert()
* 참조 : 인덱싱 - 리스트변수명[정수]
* 추출: 슬라이싱 - 리스트변수[start:end :step]
* 연산자
  * 리스트 + 리스트 -> 리스트
  * 리스트 * 정수 -> 리스트을 정수 만큼 복사해서 새로운 리스트 생성
* 메소드
  * 리스트.count()
## 2. tuple
* (), tuple() // 데이터 생성
* 수정, 삭제, 추가 연산 불가능 ; immutable type
* 참조 : 인덱싱 - 리스트변수명[정수]
* 추출: 슬라이싱 - 리스트변수[start:end :step]
* 연산자
* 투플 + 튜플 -> 튜플
* 튜플 * 정수 -> 리스트을 정수 만큼 복사해서 새로운 튜플 생성
* 메소드
    * 튜플.count()
## 3. str
* "", str() // 데이터 생성
* 수정, 삭제, 추가 연산 불가능 ; immutable type
* 참조 : 인덱싱 - 리스트변수명[정수]
* 추출: 슬라이싱 - 리스트변수[start:end :step]
  * 연산자
  * 문자열 + 문자열 -> 문자열
  * 문자열 * 정수 -> 문자열을 정수 만큼 복사해서 새로운 문자열 생
* 메소드
  * 문자열.count()

In [30]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4) # 수정
a_list

['foo', 2, (3, 4)]

In [31]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four" # 수정 불가

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

In [34]:
c = """
This is a longer string that
spans multiple lines
"""
c.count("\n")

3

In [36]:
a = "this is a string"
a[10] = "f" #

TypeError: 'str' object does not support item assignment

In [39]:
b = a.replace("string", "longer string") 
b
a is b

False

In [32]:
a = 5.6
s = str(a)
print(s)

In [41]:
s = "python"
list(s)
s[:3]

'pyt'

In [34]:
s = "12\\34"
print(s)

In [35]:
s = r"this\has\no\special\characters"
s

In [42]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [44]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.4678, "Argentine Pesos", 1)

'88.47 Argentine Pesos are worth US$1'

In [45]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

## 문자열 <-> 바이트 인코딩 & 디코딩
* encoding()
* decoding()

In [41]:
val = "español"
val

In [42]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

In [43]:
val_utf8.decode("utf-8")

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

In [45]:
True and True
False or True

In [46]:
int(False)
int(True)

In [47]:
a = True
b = False
not a
not b

In [48]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [49]:
a = None
a is None
b = 5
b is not None

In [50]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

In [51]:
dt.date()
dt.time()

In [52]:
dt.strftime("%Y-%m-%d %H:%M")

In [53]:
datetime.strptime("20091031", "%Y%m%d")

In [54]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

In [55]:
dt

In [56]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

In [57]:
dt
dt + delta

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [59]:
4 > 3 > 2 > 1

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

In [61]:
range(10)
list(range(10))

In [62]:
list(range(0, 20, 2))
list(range(5, 0, -1))

In [63]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

In [64]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)